{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}
Bitcoin Cash Transaction
{% endblock %}

{% block content %}

<nav class="navbar navbar-inverse navbar-custom">
    <a class="navbar-brand" href="/"><label class="glow">Bitcoin Cash Transaction</label></a>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/omarkad2/bitcoin-cash-trx">
                Check code in <i class="fa fa-github"></i>
            </a>
        </li>
        <li>
            <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/oupscrk">
                Follow me on <i class="fa fa-twitter"></i>
            </a>
        </li>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1>Simple Bitcoin Cash Transaction</h1>
            <br><br>
            {% if error %}
                <div class="box red">
                    <p class="space-above"><strong>{{ error }}</strong></p>
                </div>
            {% endif %}

            {{ wtf.quick_form(form) }}
        </div>
    </div>
</div>
<br><br>
<div class="footer">
    <label class="footer-prefix">Donate Bitcoin Cash:</label>
    <label class="bitcoin-addr">qz0g56v5wsnkyf73l4vqhjwtjyarvgxhfv4fsqzp0j</label>
</div>

{% endblock %}
{% block scripts %}
{{super()}}
<script>
    $(document).ready(function () {
        $('form').submit(function() {
            $("#submit").prop("disabled",true);
        });
    });
</script>
{% endblock %}